.room-list-item {
  padding: 1rem;

  p {
    margin-bottom: 0;
    color: #000;
  }

  &:hover,
  &.hovered {
    cursor: pointer;
  }

  .accordion-header {
    .accordion-button {
      &:focus,
      &:not(.collapsed) {
        background-color: #fff;
        border: none;
        box-shadow: none;
      }
    }
  }
}
