.room-list-item {
  padding: 1rem;
  transition: background-color 0.5s ease;

  p {
    margin-bottom: 0;
    color: #000;
  }

  &:hover,
  &.hovered {
    cursor: pointer;
    background-color: #dedede;
  }
}
