.availability-circle {
  height: 16px;
  width: 16px;
  display: inline-block;
  border-radius: 50%;
  content: " ";
  margin-left: 0.5rem;

  &.available {
    background-color: #22c36d;
  }

  &.unavailable {
    background-color: #f4442e;
  }
}
